html { overflow-x:hidden; }
.content-header {
	position: relative;
	padding: 0 0 3px 8px
}

.content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0px;
    padding-left: 10px;
    background: #ecf0f5;
}

.main-footer {
    padding: 7px;
    color: #444;
    border-top: 1px solid #eee;
}

[v-cloak] {
  display: none;
}

.grid-btn{
	margin:12px;
}
.grid-btn .btn{
	margin-right:10px;
}
.pointer{cursor: pointer;}

.ml-10 { margin-left:0 !important; }
@media (min-width: 768px) {
	.ml-10 { margin-left:10px !important; }
	.col-sm-10 {width: 70%;padding-left: 0px;}
	.col-sm-2 {width: 24%;}
}
tbody > tr > th {font-weight: normal; }
.panel .table { margin:0 0; }
.panel .pagination { margin:0; }
.panel-default>.panel-heading {background-color: #f5f5f5;}
.row{
	border-top: 1px solid #ddd;
	margin:0;
	padding:20px 2px 0px 2px;
}
.col-xs-6{padding-left: 0px;padding-right: 0px;}
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form-horizontal{
	width:100%;padding-top:20px;
}
.logo-mini img {
    height: 40px;
    position: absolute;
    clip: rect(5px 38px 40px 0px);
    left: 0;
    top: 5px;
    margin-left: 6px;
}
.logo-lg img {
    float: left;
    margin-left: 30px;
}
.login-logo {
    background-color: #fff;
    padding-top: 10px;
    margin-bottom: 0;
}
/*登录界面 欢迎使用****平台 */
.login-logo span {
    margin: 0;
    color: #00c0ef;
    font-size: 23px;
    font-weight: bold;
}
.login-page {
    background-color: #F4F4F4;!important;
}
.jqgridcolor {
    background-color: #d8f0ff;
}
.form-control-sub {
    width: 220px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group-inline {
    display: inline-block;
    margin: 10px 8px;
}
.form-control-query {
    display: inline-block;
    width: 200px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#trade ,#source {
    transition: width .5s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.left {
    text-align: left;!important;
}
.ui-jqgrid-labels th {
    text-align: center;!important;
}
#custinfo .table-bordered th, #custinfo .table-bordered td{
    text-align: center;!important;
}
.clientadd {
    padding: 15px;
}
.ui-jqgrid, .ui-subgrid {
    border: 1px solid #777;
}
.ui-jqgrid .ui-jqgrid-pager, .ui-jqgrid .ui-jqgrid-toppager {
    border-right: 1px solid #777;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #777;
}
.ui-jqgrid .ui-jqgrid-hdiv, .ui-jqgrid-labels {
    background-color: #a1dcff;!important;
    color: #000;
}
.linkcolor {
    color: #337ab7;
}
#custinfo .table-bordered {
    border-color: #777;
}
#custinfo .table-bordered > thead > tr > th {
    border-bottom: 0;
    background-color: #a1dcff;
    color: #000;
}
#reqinfo .panel-default, #resultinfo .panel-default {
    border: 1px solid #777;
}
.layui-layer-btn1 {
    border-color: #1E9FFF;!important;
    background-color: #1E9FFF;!important;
    color: #fff;!important;
}
.ui-jqgrid-labels .active {
    background-color: #a1dcff;!important;
    color: #000;
}
.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
    vertical-align: middle;
}
.whitespace span {
    white-space: pre-wrap;
}
/*.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {*/
    /*background-color: #FFFFCC;*/
/*}*/