<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group-inline" style="width: 162px">
                <select class="form-control-query" id="query-course" v-model="query.course"
                        style="display: inline-block;width: 160px;">
                    <option value="">课程名称</option>
                    <option v-for="(item,index) in allCourses" :value="item.id">{{ item.name }}</option>
                </select>
            </div>
            <div class="form-group-inline">
                <input type="week" id="query-week" class="form-control" v-model="query.week"
                       @change="weekChange(this)"/>
            </div>
            <a class="btn btn-primary" @click="find"><i class="fa fa-search"></i>&nbsp;查询</a>
            <div class="form-group-inline" style="float:right">
                <a class="btn btn-info" @click="copyCourse"><i class="fa fa-plus"></i>&nbsp;复制课程表</a>
                <a class="btn btn-danger" @click="delCourse"><i class="fa fa-trash-o"></i>&nbsp;批量删除课程表</a>
            </div>
        </div>
        <table id="jqGrid"></table>
        <!--<div id="jqGridPager"></div>-->
    </div>

    <div v-show="show.theList" id="theList">
        <div class="grid-btn">
            <a v-if="hasPermission('xsquare:classtable:save')" class="btn btn-primary" @click="add"><i
                    class="fa fa-plus"></i>&nbsp;新增</a>
            <a v-if="hasPermission('xsquare:classtable:update')" class="btn btn-primary" @click="update"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a v-if="hasPermission('xsquare:classtable:delete')" class="btn btn-primary" @click="del"><i
                    class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <!--某一天某个时段的课程信息-->
        <table id="theJqGrid"></table>
        <div id="TheJqGridPager"></div>
    </div>

    <!--批量复制课程表-->
    <div v-show="show.copyCourses" id="copyCourses" class="panel panel-default" style="width: 400px">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4 control-label"><span style="color: red">*</span> 课程所在周</div>
                <div class="col-sm-8">
                    <input type="week" class="form-control" v-model="copyCourses.courseWeek"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label"><span style="color: red">*</span> 复制课程</div>
                <div class="col-sm-8">
                    <select class="form-control" v-model="copyCourses.course">
                        <option v-for="(item,index) in courses" :value="item.id">{{ item.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label"><span style="color: red">*</span> 复制起始周</div>
                <div class="col-sm-8">
                    <input type="week" class="form-control" id="copyCourses_startWeek" v-model="copyCourses.startWeek" @change="copyCoursesWeekChange"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label"><span  style="color: red">*</span> 复制结束周</div>
                <div class="col-sm-8">
                    <input type="week" class="form-control" id="copyCourses_endWeek" v-model="copyCourses.endWeek" @change="copyCoursesWeekChange"/>
                </div>
            </div>
        </form>
    </div>

    <!--批量刪除课程表-->
    <div v-show="show.delCourses" id="delCourses" class="panel panel-default" style="width: 400px">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4 control-label"><span style="color: red">*</span> 刪除课程</div>
                <div class="col-sm-8">
                    <select class="form-control" v-model="delCourses.course">
                        <option v-for="(item,index) in courses" :value="item.id">{{ item.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label"><span style="color: red">*</span> 刪除起始日</div>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="delCourses_startDate" v-model="delCourses.startDate" @change="delCoursesWeekChange"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label"><span  style="color: red">*</span> 刪除结束日</div>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="delCourses_endDate" v-model="delCourses.endDate" @change="delCoursesWeekChange"/>
                </div>
            </div>
        </form>
    </div>

    <div v-show="show.handle" id="handle" class="panel panel-default" style="width: 500px">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label"><span class="notNullMark" style="color: red">*</span> 上课日期</div>
                <div class="col-sm-10">
                    <input type="date" class="form-control" v-model="classtable.date" placeholder="上课日期"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><span class="notNullMark" style="color: red">*</span> 时间段</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="classtable.timeSlot" @change="timeSlotChange">
                        <option value="1">上午</option>
                        <option value="2">中午</option>
                        <option value="3">晚上</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><span class="notNullMark" style="color: red">*</span> 课程</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="classtable.courseId">
                        <option v-for="(item,index) in courses" :value="item.id">{{ item.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><span class="notNullMark" style="color: red">*</span> 上课老师</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="classtable.teacherId">
                        <option v-for="(item,index) in teachers" :value="item.id">{{ item.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><span class="notNullMark" style="color: red">*</span> 上课教室</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="classtable.classroomId">
                        <option v-for="(item,index) in classrooms" :value="item.id">{{ item.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><span class="notNullMark" style="color: red">*</span> 上课时间</div>
                <div class="col-sm-10">
                    <select class="form-control-query" v-model="classtable.startHour" style="width: 69px">
                        <option v-for="item in startHour" :value="item">{{ item }}</option>
                    </select>
                    <span style="font-weight: 700"> : </span>
                    <select class="form-control-query" v-model="classtable.startMinute" style="width: 69px">
                        <option v-for="item in minute" :value="item">{{ item }}</option>
                    </select>
                    <span style="font-weight: 700">&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                    <select class="form-control-query" v-model="classtable.endHour" style="width: 69px">
                        <option v-for="item in endHour" :value="item">{{ item }}</option>
                    </select>
                    <span style="font-weight: 700"> : </span>
                    <select class="form-control-query" v-model="classtable.endMinute" style="width: 69px">
                        <option v-for="item in minute" :value="item">{{ item }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">上课内容</div>
                <div class="col-sm-10">
                    <textarea class="form-control" v-model="classtable.describe" maxLength="225"
                              style="height: 88px;resize: none" maxlength="255" placeholder="上课内容"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

<script src="../../js/modules/xsquare/classtable.js"></script>
</body>
</html>