<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group-inline" style="width: 150px">
                <input type="text" class="form-control" v-model="query.courseName"
                       placeholder="搜索课程名称"
                       maxlength="20" @keyup.enter="find"/>
            </div>
            <div class="form-group-inline" style="width: 120px">
                <select class="form-control-query" v-model="query.status" style="display: inline-block;width: 118px;">
                    <option value="">课程状态</option>
                    <option value="1">正常</option>
                    <option value="0">删除</option>
                </select>
            </div>
            <a class="btn btn-primary" @click="find"><i class="fa fa-search"></i>&nbsp;查询</a>
            <a v-if="hasPermission('xsquare:course:save')" class="btn btn-primary" @click="add"><i
                    class="fa fa-plus"></i>&nbsp;新增</a>
            <a v-if="hasPermission('xsquare:course:update')" class="btn btn-primary" @click="update"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a v-if="hasPermission('xsquare:course:delete')" class="btn btn-primary" @click="del"><i
                    class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label"><span class="notNullMark" style="color: red">*</span> 课程名称</div>
                <div class="col-sm-4" style="width: 35.7%;min-width: 395px">
                    <input type="text" class="form-control" v-model="course.name" placeholder="课程名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><span class="notNullMark" style="color: red">*</span> 签到积分</div>
                <div class="col-sm-4" style="width: 35.7%;min-width: 395px">
                    <input type="text" class="form-control" v-model="course.signIntegral" placeholder="签到积分"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><span class="notNullMark" style="color: red">*</span> 每节课时长</div>
                <div class="col-sm-4" style="width: 35.7%;min-width: 395px">
                    <input type="text" class="form-control" v-model="course.time" placeholder="每节课时长"/>
                    <span style="position: absolute;right: 30px;top: 7px;">分钟</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">最高预约人数</div>
                <div class="col-sm-4" style="width: 35.7%;min-width: 395px">
                    <input type="number" class="form-control" v-model="course.maxPerson" placeholder="不填则为无限制"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"><span class="notNullMark" style="color: red">*</span> 可上课会员卡类别</div>
                <div class="col-sm-4 "
                     style="border: 1px solid #ccc;border-radius: 4px;margin-left: 15px;min-width: 365px">
                    <div class="vipCardTypeChoice" v-for="(item,index) in vipCardType"
                         style="display: block;border-bottom: 1px solid #ccc;padding-bottom: 7px;padding-top: 6px">
                        <input type="checkbox" style="display: inline-block" class="form-group-inline" :value="item.id" v-model="item.status">
                        <span class="form-group-inline"
                              style="overflow: hidden;text-overflow: ellipsis;width: 120px;display: inline-block;white-space: nowrap;margin-bottom: -4px"
                              :title="item.name">{{ item.name }}</span>
                        <div v-if="item.deductionType == 2" style="display: inline;">
                            <input type="text" style="display: inline-block;width: 130px" class="form-control"
                                   v-model="item.initialMoney"
                                   placeholder=""/>元/次
                        </div>
                        <div v-else-if="item.deductionType == 3" style="display: inline;">
                            每次扣除
                            <input type="text" style="display: inline-block;width: 88px" class="form-control"
                                   v-model="item.initialNumber"
                                   placeholder=""/>次
                        </div>
                        <div v-else-if="item.deductionType == 4" style="display: inline;">
                            有效期内免费
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">课程描述</div>
                <div class="col-sm-4" style="width: 35.7%;min-width: 395px">
                    <textarea class="form-control" v-model="course.describe"
                              style="height: 88px;resize: none;" maxlength="255" placeholder="课程描述"></textarea>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--<div class="col-sm-2 control-label">累计上课次数</div>-->
            <!--<div class="col-sm-2">-->
            <!--<input type="text" class="form-control" v-model="course.countClassNumber" placeholder="累计上课次数"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<div class="col-sm-2 control-label">平均上课人次</div>-->
            <!--<div class="col-sm-2">-->
            <!--<input type="text" class="form-control" v-model="course.avgPersonNumberTime" placeholder="平均上课人次"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<div class="col-sm-2 control-label">累计上课人数</div>-->
            <!--<div class="col-sm-2">-->
            <!--<input type="text" class="form-control" v-model="course.countPersonNumber" placeholder="累计上课人数"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<div class="col-sm-2 control-label">累计上课人次</div>-->
            <!--<div class="col-sm-2">-->
            <!--<input type="text" class="form-control" v-model="course.countPersonNumberTime"-->
            <!--placeholder="累计上课人次"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<div class="col-sm-2 control-label">课程状态，1：正常，0：删除</div>-->
            <!--<div class="col-sm-2">-->
            <!--<input type="text" class="form-control" v-model="course.status" placeholder="课程状态，1：正常，0：删除"/>-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="../../js/modules/xsquare/course.js"></script>
</body>
</html>