<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group-inline" style="width: 162px">
                <select class="form-control-query" id="query-course" v-model="query.course"
                        style="display: inline-block;width: 160px;">
                    <option value="">课程名称</option>
                    <option v-for="(item,index) in allCourses" :value="item.id">{{ item.name }}</option>
                </select>
            </div>
            <div class="form-group-inline">
                <input type="date" id="query-startDate" class="form-control" v-model="query.startDate" @change="queryDateChange()"/>
            </div>
            <span style="font-weight: 700"> ~ </span>
            <div class="form-group-inline">
                <input type="date" id="query-endDate" class="form-control" v-model="query.endDate" @change="queryDateChange()"/>
            </div>
            <a class="btn btn-primary" @click="find"><i class="fa fa-search"></i>&nbsp;查询</a>
            <a class="btn btn-primary" @click="queryNowWeek"><i class="fa fa-search"></i>&nbsp;本周查询</a>
            <!--<a v-if="hasPermission('xsquare:logsign:save')" class="btn btn-primary" @click="add"><i-->
                    <!--class="fa fa-plus"></i>&nbsp;新增</a>-->
            <!--<a v-if="hasPermission('xsquare:logsign:update')" class="btn btn-primary" @click="update"><i-->
                    <!--class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
            <!--<a v-if="hasPermission('xsquare:logsign:delete')" class="btn btn-primary" @click="del"><i-->
                    <!--class="fa fa-trash-o"></i>&nbsp;删除</a>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <!--展示某一节课的签到日志-->
    <div v-show="show.theList" id="theList">
        <table id="theJqGrid"></table>
        <div id="TheJqGridPager"></div>
    </div>

    <div v-show="show.addSign" id="addSign" class="panel panel-default" style="width: 450px">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4 control-label">签到课程</div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="logSign.courseName" disabled="false" placeholder="签到课程"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">上课时间</div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="logSign.courseTime" disabled="false" placeholder="上课时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label"><span  style="color: red">*</span> 会员卡号</div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="logSign_vipCardNum" v-model="logSign.vipCardNum" placeholder="会员卡号" @change="changeVipCardNum()"/>
                </div>
            </div>
            <!--展示会员卡信息-->
            <div class="form-group">
                <div class="col-sm-4 control-label">会员姓名</div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="vipCard.vipUser.name" disabled="false" placeholder="会员姓名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 control-label">会员联系方式</div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model="vipCard.vipUser.phone" disabled="false" placeholder="会员联系方式"/>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">签到时间</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" v-model="logSign.signTime" placeholder="签到时间"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">签到日志状态，1：正常，0：被撤销</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" v-model="logSign.status" placeholder="签到日志状态，1：正常，0：被撤销"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label"></div>-->
                <!--<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>-->
                <!--&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>-->
            <!--</div>-->
        </form>
    </div>

    <div v-show="show.continueSign" id="continueSign" style="margin: 20px;padding-top: 15px;display: block;">
        <span>签到人数已经到达课程上限，确定继续签到？</span>
    </div>
</div>

<script src="../../js/modules/xsquare/logsign.js"></script>
</body>
</html>